.user-avatar-thumb {
    border-radius: 5px;
}

.is-card-title {
    font-family: 'Quicksand', sans-serif;
    display: block;
    width: 100%;
    border-bottom: 1px solid #222324;
    height: 40px;
    margin-bottom: 10px;
}

.is-custom-card {
    box-shadow: none !important;
    border: 1px solid #7f8c8d;
}

.is-custom-card .card-content {
    background-color: #fff;
}

.card-footer-item {
    border: 0 !important;
}

.is-item-good {
    background-color: #7f8c8d;
    border-top: 5px solid #2ecc71 !important;
    color: #ecf0f1;
}

.is-item-medium {
    background-color: #7f8c8d;
    color: #ecf0f1;
    border-top: 5px solid #f1c40f !important;

}

.is-item-bad {
    background-color: #7f8c8d;
    color: #ecf0f1;
    border-top: 5px solid #e74c3c !important;
}

.is-item-good:hover {
    background-color: #2ecc71;
    color: #ecf0f1;
}

.is-item-medium:hover {
    background-color: #f1c40f;
    color: #ecf0f1;
}

.is-item-bad:hover {
    background-color: #e74c3c;
    color: #ecf0f1;
}

input[type=submit].is-feedback-button {
    background-color: #7f8c8d;
    width: 100%;
    text-align: center;
    border-radius: 0;
    color: #ecf0f1;
    border-top: 5px solid #2ecc71;
}

input[type=submit].is-feedback-button:hover {
    background-color: #2ecc71;
    color: #ecf0f1;
}

.card-description {
    display: block;
    height: 70px;
    line-height: 20px;
    overflow: scroll;
    padding: 5px;
    background-color: #ecf0f1;
    border: 1px dashed #7f8c8d;
}

p.card-date {
    display: block;
    margin-bottom: -10px !important;
}

.is-feedback-title {
    margin-top: 15px;
    margin-bottom: 5px !important;
}
