.flash-alert {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.flash-alert,
#error_explanation {
    background-color: #7f8c8d;
    padding: 10px;
    margin-bottom: 10px;
    color: #c0392b;
    border: 2px dashed #c0392b;
    border-radius: 5px;
}

#error_explanation h2 {
    font-size: 1.2em;
    font-weight: bolder;
}

.devise-links .devise-link {
    color: #7f8c8d;
}

.devise-links .devise-link:hover {
    color: #2c3e50;
}

.devise-form input,
.devise-form textarea {
    border-radius: 0;
    border: 1px solid #7f8c8d;
}

.devise-form input:focus {
    border: 1px solid #7f8c8d;
}

.devise-form select {
    border-radius: 0 !important;
    box-shadow: 0 !important;
    border: 1px solid #7f8c8d !important;
}

.devise-form .select-label {
    line-height: 32px;
}

.devise-form input[type=file] {
    height: 0.1px;
    width: 0.1px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.devise-form .file-input-label {
    background-color: #7f8c8d;
    display: block;
    text-align: center;
    width: 100%;
    color: #ecf0f1;
    height: 35px;
}

.devise-form .file-input-label:after {
    content: " Upload your profile picture";
    font-size: 1.2em;
    line-height: 29px;
}

/*---buttons-----*/

.devise-form a {
    border-radius: 0;
    background-color: #7f8c8d !important;
}

.devise-form input[type=submit] {
    background-color: #7f8c8d !important;
}

.is-submit,
.is-back,
.is-cancel-reg {
    border: 0 !important;
    color: #fff !important;
}

.is-submit {
    border-top: 5px solid #2ecc71 !important;
}

.is-back {
    border-top: 5px solid #f1c40f !important;
}

.is-cancel-reg {
    border-top: 5px solid #e74c3c !important;
}

input[type=submit].is-submit:hover {
    background-color: #2ecc71 !important;
}

.is-back:hover {
    background-color: #f1c40f !important;
}

.is-cancel-reg:hover {
    background-color: #e74c3c !important;
}

.field_with_errors {
    margin-bottom: 10px;
}

/*-------media-query------------*/

@media (max-width: 768px) {
    .devise-form .file-input-label i {
        line-height: 35px;
    }

    .devise-form .file-input-label {
        line-height: 45px;
    }
}
