/*---Sticky footer--*/
body {
    min-height: 100vh !important;
}

body .main-content-container {
    min-height: calc(100vh - 170px);
}
/*-------------------*/
footer.is-red {
    background-color: #c0392b;
    height: 100px;
    flex: 1;
}

footer.is-red p,
footer.is-red a,
footer.is-red strong {
    color: #ecf0f1;
    border-bottom: 0 !important;
    text-decoration: none;
}

footer.is-red a {
    font-style: italic;
}

footer.is-red a:hover {
    color: #222;
}

footer.is-red a:visited {
    color: #ecf0f1;
}

strong.is-main {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 1.5em;
}
