.search-form-user {
    height: 50px;
    line-height: 50px;
    margin-bottom: 24px;
}

.search-form-user label {
    font-size: 1.5em;
    color: #666;
}

.search-form-user span.select {
    margin-top: 10px;
}

.search-form-user select {
    border-radius: 0 !important;
    box-shadow: 0 !important;
    border: 1px solid #888 !important;
}

.search-form-user input[type=submit] {
    border-radius: 0;
    margin-top: 10px;
    background-color: #c0392b;
}

.search-form-user input[type=submit]:hover {
    background-color: #e74c3c;
}

img.search-avatar-user {
    border-radius: 5px;
    margin-top: 5px;
}

div.provider-box-content {
    margin-left: 10px;
}

.provider-box-content h1 {
    font-family: 'Quicksand', sans-serif;
}

button.js-request-service {
    border-radius: 0;
    background-color: #c0392b;
    color: #ecf0f1;
    border: 0;
    margin-bottom: 10px;
    width: 100%;
}

button.js-request-service:hover {
    background-color: #e74c3c;
    color: #ecf0f1;
}

#user-date,
#user-time {
    width: 100%;
    text-align: center;
}

button.js-send-request {
    width: 100%;
    margin-top: 10px;
    border-radius: 0;
    background-color: #c0392b;
    color: #ecf0f1;
    border: 0;
}

button.js-send-request:hover {
    background-color: #e74c3c;
    color: #ecf0f1;
}
