.search-form-user {
    height: 50px;
    line-height: 50px;
    margin-bottom: 24px;
    flex-wrap: wrap;
}

.search-form-user label {
    font-size: 1.5em;
    color: #666;
}

.search-form-user span.select {
    margin-top: 10px;
}

.search-form-user select {
    border-radius: 0 !important;
    box-shadow: 0 !important;
    border: 1px solid #7f8c8d !important;
}

img.search-avatar-user {
    border-radius: 5px;
    margin-top: 5px;
}

div.provider-box-content {
    margin-left: 10px;
}

button.js-request-service {
    border-radius: 0;
    background-color: #7f8c8d;
    border: 0;
    border-top: 5px solid #2ecc71;
    color: #ecf0f1;
    margin-bottom: 10px;
    width: 100%;
    line-height: 20px;
    display: block;
    text-align: center;
}

button.js-request-service:hover {
    background-color: #2ecc71 !important;
    border-top: 5px solid #2ecc71;
    color: #ecf0f1;
}

button.js-request-service:focus {
    background-color: #7f8c8d;
    border-top: 5px solid #2ecc71;
    color: #ecf0f1;
}

.is-user-date,
#user-time {
    width: 100%;
    text-align: center;
}

#user-description {
    width: 100%;
    border: 1px solid #ccc;
}

button.js-send-request {
    width: 100%;
    margin-top: 10px;
    border-radius: 0;
    background-color: #7f8c8d;
    border: 0;
    border-top: 5px solid #2ecc71;
    color: #ecf0f1;
    display: block;
    text-align: center;
}

button.js-send-request:hover {
    background-color: #2ecc71;
    color: #ecf0f1;
    border-top: 5px solid #2ecc71;
}

.js-loading-icon {
    margin-top: 15px;
}


/*-------media-querie------*/
@media (max-width: 410px) {
    .search-form-user {
        margin-bottom: 75px;
    }
}
