div.box {
    border-radius: 0 !important;
}

.hidden {
    display: none;
}

.filter-form {
    padding: 25px 0 0 0;
}

div.filter-results {
    margin-top: 20px;
}

div.client-requests {
    margin-top: 20px;
}

div.user-details {
    margin-top: 25px;
}

h3.title.is-5.requests-title {
    margin-bottom: 0;
}

.is-wrapped {
    flex-wrap: wrap;
}

p.subtitle.has-no-bottom-margin {
    margin-bottom: 0;
}

p.buttons-fix .button {
    display: inline-block;
}

.is-rating-label {
    display: inline-block;
    width: 12px;
    text-align: center;
}

p.title.has-no-bottom-margin {
    margin-bottom: 0;
}
