<footer class="footer is-red">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong class="is-main">first hand</strong> by <a href="https://github.com/urtzi88" target="_blank">urtzip</a>
        as <a href="https://www.ironhack.com/" target="_blank">ironhack</a> project.
      </p>
      <p>
        <a class="icon" href="https://github.com/urtzi88" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="icon" href="https://twitter.com/urtzip" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="icon" href="https://es.linkedin.com/in/urtzip" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
