<div class="modal is-hidden">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content">
      <h1 class="title is-1">Confirm action</h1>
      <p class="modal-confirm-text">Are you sure?</p>
      <div class="modal-buttons">
        <button class="button is-item-bad modal-cancel">Cancel</button>
        <button class="button is-item-good modal-continue">Continue</button>
      </div>
    </div>
  </div>
  <button class="modal-close"></button>
</div>
